<p id="notice"><%= notice %></p>

<div class="container flex-column flex-md-row">
  <div class="content">
    <%@listing.picture.each do |shoe|%>
    <%= image_tag  shoe %>
  </div>
</div>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
