<div class="container">
    <div class="push-spaces">
        <div class="jumbotron bg-transparent">
            <h1 class="display-4 text-center">BUY AND SELL YOUR SNEAKER</h1>
            <p class="lead btn-lg mx-auto welcome-text text-center">On Shoes Market, buy and sell sneakers & shoes from Air Jordan, Adidas, Nike, Yeezy, Converse, New Balance and more!</p>
            <p class="lead text-center">
                <%= link_to  "Find out more", listings_path, class: "btn btn-dark btn-lg" %>
            </p>
        </div>
    </div>
</div>